<div>
    <ul class=" bg-dark w-50 ms-auto me-auto mt-4 rounded-4 p-4 d-flex justify-content-around">
        <li ><a routerLink="seafood" routerLinkActive="bg-white rounded text-black p-2">Seafood</a></li>
        <li><a routerLink="pasta"  routerLinkActive="bg-white rounded text-black p-2">Pasta</a></li>
        <li><a routerLink="brakfast"  routerLinkActive="bg-white rounded text-black p-2">Brakfast</a></li>
    </ul>
</div>
 
<div class=" body mt-5">
    <router-outlet></router-outlet>
</div>